:root {
    --lightBlue: #6df5ff;
}

.bg_lightblue {
    background-color: var(--lightBlue) !important;
}

.fore_lightblue {
    color: var(--lightBlue) !important;
}

:global(.particles-js-canvas-el) {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.titleLogo {
    height: 3.2rem !important;
    width: 10rem !important;
    margin-left: 20px !important;
    position: fixed;
    left: 0;
    top: .6rem;
    z-index: 101;
}

.header {
    position: fixed;
    background-color: rgb(3, 3, 51);
    left: 0;
    right: 0;
    top: 0;
    height: 3.2rem;
    width: 100%;
    padding: 1rem 0 2px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    .navHeader {
        height: 100%;
        display: flex;
        margin: 0 auto;
        .headerLink {
            color: rgba(255, 255, 255, .7);
            border-bottom: 2px solid rgba(230, 230, 230, .3);
            &>a {
                line-height: 3rem;
                padding: 1rem;
                width: 100%;
            }
            &.actived {
                color: white;
                background-color: rgba(255, 255, 255, .2);
                border-bottom: 2px solid var(--lightBlue);
            }
            &:hover {
                transition: all .6s ease;
                border-bottom: 2px solid var(--lightBlue);
                background-color: rgba(230, 230, 230, .1);
            }
        }
    }
    .i18n {
        margin: auto 20px auto 0;
        font-size: .8rem;
        display: flex;
        align-items: flex-end;
        position: absolute;
        right: 0;
        cursor: pointer;
        &>a {
            margin: 0 5px;
        }
    }
}

.body {
    position: absolute;
    z-index: 1;
    background-color: transparent;
    margin-top: 3rem;
    height: calc(100% - 3.2rem);
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    .content {
        max-width: 1000px;
        margin: 0 auto;
        &>section {
            padding: 3.2rem 0 0 0;
        }
        .token_sale {
            position: relative;
            z-index: 1;
            .primaryLogo {
                width: 12rem;
                height: 12rem;
                margin: 0 auto;
            }
            .sub_title {
                font-size: 1.1rem;
                text-align: center;
                color: var(--lightBlue);
                margin: 1rem auto;
            }
            .whitepaper_icon {
                width: 2rem;
                height: 2rem;
                margin-right: 6px;
            }
            .whitepaper_button {
                cursor: pointer;
                width: 16rem;
                margin: 8rem auto;
                box-sizing: border-box;
                padding: .8rem 2.4rem;
                background-color: rgba(230, 230, 230, .1);
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid var(--lightBlue);
                border-radius: 6px;
                transition: all .5s ease;
                line-height: 2rem;
                &:hover {
                    color: #0b5e80;
                    background-color: var(--lightBlue);
                }
            }
        }
        .seperator {
            width: 100%;
            margin: 20px auto;
            border: none;
            border-bottom: 1px solid rgba(230, 230, 230, .3);
        }
        .intro {
            .intro_block {
                display: flex;
                justify-content: space-around;
                align-items: center;
                margin: 3rem auto;
                .intro_img {
                    width: 50%;
                }
                .intro_param {
                    width: 40%;
                    display: inline-block;
                    font-size: 1.2rem;
                    line-height: 2rem;
                    box-sizing: border-box;
                }
            }
        }
        .achievement {
            .achievement_grid {
                margin: 6rem auto;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                .achievement_logo_container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    flex: 1;
                    .achievement_logo {
                        width: 10rem;
                        height: 10rem;
                    }
                }
            }
        }
        .allocate {
            .cre_container {
                margin: 8rem auto;
                position: relative;
                .allocate_span {
                    position: absolute;
                    width: 15rem;
                    line-height: 1.3rem;
                }
                .cre_logo {
                    display: block;
                    margin: 0 auto;
                    width: 18rem;
                }
            }
            .allocate_img {
                height: 80%;
                flex: 1;
                padding-bottom: 12px;
                min-width: 22rem;
                box-sizing: border-box;
                margin: 2rem auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
        .roadmap {
            margin: 8rem auto;
        }
        .team {
            .team_member_container {
                margin: 8rem auto;
                border: 1px solid rgba(230, 230, 230, .3);
                border-radius: 4px;
                position: relative;
                width: 24%;
                min-width: 12rem;
                height: 20rem;
                line-height: 1.2rem;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                box-sizing: border-box;
                transition: all .6s ease;
                padding: 4rem 1rem 0 1rem;
                .team_avatar {
                    position: absolute;
                    height: 8rem;
                    top: -4rem;
                    transition: all .6s ease;
                }
                &:hover {
                    color: var(--lightBlue);
                    .team_avatar {
                        top: -6rem;
                    }
                }
            }
            .investor_container {
                margin: 2rem auto;
                text-align: center;
                border: 1px solid rgba(230, 230, 230, .7);
                padding-bottom: 1rem;
                width: 16rem;
                .investor_avatar_container {
                    overflow: hidden;
                    height: 14rem;
                    // min-width: 16rem;
                    border-bottom: 1px solid rgba(230, 230, 230, .7);
                    .investor_avatar {
                        width: 100%;
                        &:hover {
                            transition: all .4s ease;
                            transform: scale(1.2);
                        }
                    }
                }
                .investor_name {
                    margin: 1.2rem auto;
                    font-size: 1.4rem;
                    color: var(--lightBlue);
                }
                .investor_info {
                    margin: 0 auto;
                    width: 95%;
                    word-wrap: break-word;
                }
            }
            .consultant_container {
                flex: 1;
                text-align: center;
                margin: 20px;
                padding: 1rem;
                .consultant_avatar {
                    height: 10rem;
                    display: block;
                    margin: 20px auto;
                }
                .consultant_name {
                    margin: 1.2rem auto;
                    font-size: 1.4rem;
                }
            }
        }
        .whitepaper {
            .book {
                min-width: 14rem;
                margin: 8rem auto;
                &>figure {
                    display: block;
                    margin: 0 auto;
                }
            }
        }
        .partners {
            margin: 8rem auto;
            &>div {
                justify-content: center;
                .community_logo {
                    display: inline-block;
                    margin: 20px auto;
                    flex: 1;
                    max-width: 14rem;
                }
            }
        }
        .sec_title {
            color: #dedede;
            font-size: 1.6rem;
            text-align: center;
        }
    }
    .footer {
        padding: 2rem 0;
        background-color: rgb(3, 3, 51);
        .footer_logo_container {
            text-align: center;
            margin: 3rem auto;
            &>a {
                display: inline-block;
                position: relative;
                .footer_logo {
                    cursor: pointer;
                    display: inline-block;
                    width: 3rem;
                    height: 3rem;
                    margin: 0 3rem;
                }
                .footer_logo_wechat {
                    position: absolute;
                    width: 7rem;
                    height: 7rem;
                    top: -7.5rem;
                    left: 50%;
                    margin-left: -3.5rem;
                }
            }
        }
    }
}

@media (max-width:30em) {
    .titleLogo {
        position: absolute;
    }
    .header {
        position: absolute;
        .navHeader {
            display: none;
        }
        .i18n {
            margin: auto 0;
            top: 1.6rem;
            right: 10px;
        }
    }
    .body {
        .content {
            &>section {
                padding: 0 1rem;
            }
            .allocate {
                .cre_container {
                    display: none;
                }
                div {
                    img {
                        display: block;
                        width: 80% !important;
                        margin: 3rem auto;
                    }
                }
            }
            .team {
                .team_member_container {
                    height: 22rem;
                    width: 16rem;
                    margin: 4rem auto;
                }
            }
        }
    }
}