:global(.icon-logo-sm) {
    background-image: url(../images/logo-sm.png)
}

:global(.icon-title-logo) {
    background-image: url(../images/title-logo.png)
}

:global(.icon-qrcode) {
    background-image: url(../images/qrcode.png)
}

:global(.icon-primary-logo) {
    background-image: url(../images/primary-logo.png)
}

:global(.icon-white-paper-small) {
    background-image: url(../images/white-paper-small.png)
}

:global(.icon-acv-01-zh) {
    background-image: url(../images/acv-01-zh.png)
}

:global(.icon-acv-02-zh) {
    background-image: url(../images/acv-02-zh.png)
}

:global(.icon-acv-03-zh) {
    background-image: url(../images/acv-03-zh.png)
}

:global(.icon-acv-04-zh) {
    background-image: url(../images/acv-04-zh.png)
}

:global(.icon-acv-05-zh) {
    background-image: url(../images/acv-05-zh.png)
}

:global(.icon-acv-06-zh) {
    background-image: url(../images/acv-06-zh.png)
}

:global(.icon-acv-01-en) {
    background-image: url(../images/acv-01-en.png)
}

:global(.icon-acv-02-en) {
    background-image: url(../images/acv-02-en.png)
}

:global(.icon-acv-03-en) {
    background-image: url(../images/acv-03-en.png)
}

:global(.icon-acv-04-en) {
    background-image: url(../images/acv-04-en.png)
}

:global(.icon-acv-05-en) {
    background-image: url(../images/acv-05-en.png)
}

:global(.icon-acv-06-en) {
    background-image: url(../images/acv-06-en.png)
}

:global(.icon-twitter) {
    background-image: url(../images/twitter.png)
}

:global(.icon-wechat) {
    background-image: url(../images/wechat.png)
}

:global(.icon-telegram) {
    background-image: url(../images/telegram.png)
}

:global(.icon-mail) {
    background-image: url(../images/mail.png)
}

:global(.icon-bg-banner) {
    background-image: url(../images/bg-banner.png)
}

:global(.icon-close) {
    background-image: url(../images/close.png)
}

:global(.icon-close-gray) {
    background-image: url(../images/close-gray.png)
}

:global(.icon-checked) {
    background-image: url(../images/checked.png)
}