:global(.icon-logo-sm) {
    background-image: url(../images/logo-sm.png)
}

:global(.icon-title-logo) {
    background-image: url(../images/title-logo.png)
}

:global(.icon-qrcode) {
    background-image: url(../images/qrcode.png)
}

:global(.icon-primary-logo) {
    background-image: url(../images/primary-logo.png)
}

:global(.icon-white-paper-small) {
    background-image: url(../images/white-paper-small.png)
}

:global(.icon-acv-01) {
    background-image: url(../images/acv-01.png)
}

:global(.icon-acv-02) {
    background-image: url(../images/acv-02.png)
}

:global(.icon-acv-03) {
    background-image: url(../images/acv-03.png)
}

:global(.icon-acv-04) {
    background-image: url(../images/acv-04.png)
}

:global(.icon-acv-05) {
    background-image: url(../images/acv-05.png)
}

:global(.icon-acv-06) {
    background-image: url(../images/acv-06.png)
}

:global(.icon-twitter) {
    background-image: url(../images/twitter.png)
}

:global(.icon-wechat) {
    background-image: url(../images/wechat.png)
}

:global(.icon-telegram) {
    background-image: url(../images/telegram.png)
}

:global(.icon-mail) {
    background-image: url(../images/mail.png)
}