<!Doctype html>
<html lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0" />
    <meta content="telephone=no" name="format-detection" />
    <link href="//cdn.bootcss.com/animate.css/3.5.2/animate.min.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/vnd.microsoft.icon" />
    <link rel="icon" href="images/favicon.ico" type="image/vnd.microsoft.icon" />
    <style type="text/css">
        body {
            margin: 0;
            padding: 0 24px;
            color: #C7C7CC;
            background-color: #13143f;
        }
        
        #root {
            text-align: center;
        }
        
        a {
            text-decoration: underline;
            cursor: pointer;
            transition: color .4s ease;
        }
        
        a:hover {
            color: #efefef;
        }
        
        a:active,
        a:visited {
            color: #C7C7CC;
        }
    </style>
</head>

<body>
    <div id="root" style="height: 100%">
        <img alt="banner" src="/images/banner.jpeg" style="max-width: 100%;" />
        <h1>抱歉,您访问的页面已经失效或不存在</h1>
        <h3>Sorry, Page Not Found</h3>
        <p>
            <a href="/">返回首页 (Back to Home)</a>
        </p>
    </div>
    <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
</body>

</html>