<!Doctype html>
<html lang="en">

<head>
    <title>
        <%= title %>
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0" />
    <meta content="telephone=no" name="format-detection" />
    <link href="//cdn.bootcss.com/animate.css/3.5.2/animate.min.css" rel="stylesheet">
</head>

<body>
    <div id="root" style="height: 100%"></div>
    <script>
        window.__INIT_STATE = {
            apiServer: "<%= apiServer %>"
        }
    </script>
    <script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
    <script src="/plugin/jquery.countdown.min.js?_=1"></script>
    <script src='/build/<%= vendors %>.min.js'></script>
    <script src="/static/<%= main %>"></script>
</body>

</html>