:root {
    --green: #20d0db;
}

.container {
    .button {
        flex: 1;
        margin: 3rem auto 0 auto !important;
        color: white !important;
        background-color: var(--green) !important;
        height: 2.4rem !important;
        &.buttonDisabled {
            background-color: #cecece !important;
        }
    }
}

.banner {
    height: auto;
    width: 100%;
    padding: 1rem 0 3rem 0;
    text-align: center;
    background: url('../images/bg-banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    color: white;
    .bannerTitle {
        font-size: 1.5rem;
        line-height: 4rem;
    }
    .bannerSubTitle {
        width: 80%;
        margin: 0 auto;
        font-size: .8rem;
        line-height: 1.2rem;
    }
}

.content {
    margin: 3rem auto 0 auto;
    width: 80%;
    min-width: 16rem;
}

.termlink {
    height: 4rem;
    background-color: #f3f3f3;
    border: 1px solid #dedede;
    border-collapse: collapse;
    box-sizing: border-box;
    color: rgb(157, 197, 236);
    padding: 1.2rem;
    &::last-of-type {
        border-top: none;
    }
    &>i {
        color: #dedede;
    }
}

.checkedIcon {
    width: 5rem !important;
    height: 5rem !important;
    margin: 3rem auto 10px auto;
}

.succContent {
    width: 80%;
    margin: 1rem auto;
    padding: .8rem 1.5rem;
    border: 1px solid var(--green);
    box-sizing: border-box;
    color: gray;
    line-height: 2rem;
    &>h3 {
        text-align: center;
        color: black;
    }
}